body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  font-size: 16px;
  color: white;

}
.wrapper {
  width: 80%;
  margin: auto;
}
header {

}

nav {
  padding: 20px;
  text-align: center;
}
nav ul {
  margin: 0;
  padding: 0;
}

nav ul li {
  margin: 0;
  padding: 0;
  display: inline-block;
}

nav ul li a {
  display: inline-block;
  text-decoration: none;
  padding: 10px;
  color: white;
  background-color: tomato;
  border: 1px solid skyblue;
  transition: 300ms all;
}

nav ul li a:hover {
  background: skyblue;
  border: 1px solid tomato;
}

.contentbox {

}

.contentbox .content {
  height: 300px;
  width: 70%;
  float: left;
  padding: 10px;
  background: salmon;
  box-sizing: border-box;
}
.contentbox .content h1 {
  text-align: center;
}

.contentbox aside {
 height: 300px;
 width: 30%;
 float: right;
 background: skyblue;
 padding: 10px;
 box-sizing: border-box;
}

footer {
  height: 50px;
  background: #777;
  clear: both;
  text-align: center;
  padding: 10px;
}

